.playerNameOneText {
    -fx-font-size: 28px;
    -fx-translate-x: 30;
    -fx-translate-y: 5;
    -fx-font-style: italic;
}

.playerNameTwoText {
    -fx-font-size: 28px;
    -fx-translate-x: 30;
    -fx-translate-y: 45;
    -fx-font-style: italic;
}