/* styles.css */

.root {
    -fx-background-color: #3498db; /* Háttérszín */
}

#startGameButton, #informationButton {
    -fx-background-color: #2ecc71; /* Gomb színe */
    -fx-text-fill: #ffffff; /* Gomb szövegszíne */
    -fx-font-size: 16px; /* Gomb betűmérete */
    -fx-background-radius: 15; /* Gomb lekerekítése */
}

#nameTextFieldPlayerOne, #nameTextFieldPlayerTwo {
    -fx-background-color: #ecf0f1; /* Szövegdoboz háttérszíne */
    -fx-font-size: 14px; /* Szövegdoboz betűmérete */
    -fx-background-radius: 10; /* Szövegdoboz lekerekítése */
}
#errorLabelText {
    -fx-text-fill: #bf0d0d; /* Hibaüzenet szövegszíne */
    -fx-font-size: 15px; /* Hibaüzenet betűmérete */
}

.label {
    -fx-text-fill: #ffffff; /* Címke szövegszíne */
    -fx-font-size: 20px; /* Címke betűmérete */
}

@media only screen and (max-width: 600px) {
    /* Stílusok a kisebb kijelzőkre */
    .root {
        -fx-background-color: #3498db;
    }

    #startGameButton, #informationButton {
        -fx-background-color: #2ecc71;
        -fx-font-size: 14px;
    }

    #nameTextFieldPlayerOne, #nameTextFieldPlayerTwo {
        -fx-background-color: #ecf0f1;
        -fx-font-size: 12px;
    }

    #errorLabelText {
        -fx-font-size: 13px;
    }

    .label {
        -fx-font-size: 16px;
    }
}