.label {
    -fx-translate-x: 10;
    -fx-translate-y: 20;
}

.buttonClose {
    -fx-translate-y: 120;
    -fx-translate-x: 320;
}

.buttonClose:hover {
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: black;
}